.home-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire section without distortion */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Position behind overlay and content */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 0; /* Positioned above the background image but below content */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center content */
  text-align: center;
  color: #fff; /* Text color */
  padding: 1rem;
  z-index: 1; /* Positioned above overlay */
}

.content h1 {
  font-size: 2rem; /* Adjust as needed */
  margin-bottom: 0.5rem;
}

.content p {
  font-size: 1.2rem; /* Adjust as needed */
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 1.5rem; /* Smaller font size for smaller screens */
  }

  .content p {
    font-size: 1rem; /* Smaller font size for smaller screens */
  }
}
